header {
  background-color: #28A0FF;
  padding-top: 30px;
  text-align: left;
}

footer {
  background-color: #28A0FF;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  padding-bottom: 10px;
  text-align: center;
}

nav {
  
  clear: both;
  background-color: aliceblue;
  height: 40p;
  text-align: center;

}

i {
  color: black;
  padding-left: 15px;
}

body {
  font-family: 'Shadows Into Light', cursive;
  color: grey;
}

article {
  text-align: center;
}

.connect {
  letter-spacing: 15px;
  font-weight: bold;
}

h1 {
  text-align: center;
}


#about {
    -ms-transform: rotate(15deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    transform-origin: 10% 20%;
  
  
}

.myself {
  margin-top: 150px;
}

#link-akone  {
	display: inline-block;
	padding: 8px;
	outline: 0;
	color: #28A0FF;
	transition-duration: 1s;
	transition-property: transform;
	transform: scale(1) rotate(0);
    font-size: 20px;
}


#link-akone:hover {
	background: #28A0FF;
	text-decoration: none;
	color: #fff;
	border-radius: 8px;
	transform: scale(1.05) rotate(-1deg);
}


.photo_splash {
  padding-left: 30px;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}